@model İşTakipProjesi.Models.Baglantisql.İsTakip

@{
    ViewBag.Title = "İşBilgiGetir";
    Layout = "~/Views/Shared/PersonelLayout.cshtml";
}

<title>İş Bilgilerini Güncelle</title>

<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h2 class="card-title text-center mb-4">İş Bilgilerini Güncelle</h2>
            @using (Html.BeginForm("İşKaydıGüncelle", "Personel", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.ID, new { @class = "form-control" })
                <br />
                <div class="form-group">
                    <label>Sorumlu Personel</label>
                    <input type="text" readonly="true" class="form-control" name="SorumluPersonel" placeholder="Sorumlu Personel Giriniz" value="@Model.SorumluPersonel" required>
                </div>
                <br />
                <div class="form-group">
                    <label>Talep Eden</label>
                    <input type="text" class="form-control" name="TalepEden" placeholder="Talep Eden Giriniz" value="@Model.TalepEden" required>
                </div>
                <br />
                <div class="form-group">
                    <label>Konu</label>
                    <input type="text" class="form-control" name="Konu" placeholder="Konu Giriniz" value="@Model.Konu" required>
                </div>
                <br />
                <div class="form-group">
                    <label>Departman</label>
                    <select name="Departman" class="form-control">
                        <option value="Departman 1" @(Model.Departman == "Departman 1" ? "selected" : "")>Departman 1</option>
                        <option value="Departman 2" @(Model.Departman == "Departman 2" ? "selected" : "")>Departman 2</option>
                        <option value="Departman 3" @(Model.Departman == "Departman 3" ? "selected" : "")>Departman 3</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <label>Modül</label>
                    <select name="Modul" class="form-control">
                        <option value="Modul 1" @(Model.Modul == "Modul 1" ? "selected" : "")>Modul 1</option>
                        <option value="Modul 2" @(Model.Modul == "Modul 2" ? "selected" : "")>Modul 2</option>
                        <option value="Modul 3" @(Model.Modul == "Modul 3" ? "selected" : "")>Modul 3</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="date" class="form-control" name="Tarih" value="@Model.Tarih" required>
                </div>
                <br />
                <div class="form-group">
                    <label>Durum</label>
                    <select name="Durum" class="form-control">
                        <option value="Devam Ediyor" @(Model.Durum == "Devam Ediyor" ? "selected" : "")>Devam Ediyor</option>
                        <option value="İptal" @(Model.Durum == "İptal" ? "selected" : "")>İptal</option>
                        <option value="Tamamlandı" @(Model.Durum == "Tamamlandı" ? "selected" : "")>Tamamlandı</option>
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-info">İş Kaydı Güncelle</button>
            }
        </div>
    </div>
</div>
